<h1 class="animated fadeIn fast">About Comic App</h1>
<hr>
<p class="animated fadeIn ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam officia earum animi atque
    a veritatis accusamus
    molestias mollitia inventore dolorum impedit vitae tempora voluptates consequatur quaerat, id magni illum quam!
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam voluptas inventore aspernatur, magni atque quam
    facere incidunt reprehenderit? Porro totam expedita nesciunt rem nobis. Fuga aperiam quod expedita suscipit
    nesciunt. </p>